name: tests

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: composer:v2
          coverage: xdebug

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"

      - name: Install Node Dependencies
        run: npm ci

      - name: Install Dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Copy Environment File
        run: cp .env.example .env

      - name: Generate Application Key
        run: php artisan key:generate

      - name: Create SQLite Database
        run: touch database/database.sqlite

      - name: Run Migrations
        run: php artisan migrate --no-interaction

      - name: Publish Ziggy Configuration
        run: php artisan ziggy:generate

      - name: Build Assets
        run: npm run build

      - name: Tests
        run: php artisan test --env=testing --coverage --min=60

      - name: Setup Chrome
        id: setup-chrome
        uses: browser-actions/setup-chrome@v1

      - name: Install Chrome Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libnss3 libatk-bridge2.0-0 libgtk-3-0 libxtst6 xdg-utils libxss1 libasound2 fonts-liberation libgbm1

      - name: Update ChromeDriver
        run: php artisan dusk:chrome-driver --detect --no-interaction

      - name: Prepare Dusk Environment & Run Tests
        run: |
          php artisan migrate:fresh --no-interaction --force
          php artisan dusk
        env:
          DUSK_CHROME_BINARY: ${{ steps.setup-chrome.outputs.chrome-path }}
